<% if user_signed_in? %>
	<%= link_to( destroy_user_session_path, :method => :delete) do %>        

	<li class=" icon fa fa-sign-out">
		<span class="hint"> Logout </span> 
	</li>
<%end%>
<%else%>
  <%= link_to new_user_session_path do  %>  
	<li class=" fa fa-cog fa-spin" style="font-size: 3em">
	</li>
<% end %>
<%end%>
