<h1> Privacy: </h1>
<h3> DowntoGO was built for educational purposes at The Flatiron School. 
<br>
<br>
Facebook profile pictures and data are protected and used only to create user profiles. 
<br>
<br>
By submitting your profile you agree to appearing in other user's (based on your preferences) selection page for events that you pin. 
<br>
<br>
Upon match, you will no longer appear in the eligible pool.
<br>
<br>
Good luck!
<br>
<br>
</h3>